@media (min-width: 700px) {
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    padding: 100px 200px 200px 200px;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }

  .tema {
    width: 100%;
    height: 300px;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 15px;
  }

  .tema p {
    font-family: "Pavanam", sans-serif;
    font-size: 4rem;
    color: #fffcf3;
  }

  .tema:hover p {
    color: hotpink;
  }

  .tema:hover {
    opacity: 0.8;
  }

  .vinter {
    background-image: url(../billeder/vinter.webp);
  }
  .forår {
    background-image: url(../billeder/forår.webp);
  }

  .sommer {
    background-image: url(../billeder/sommer.webp);
  }
  .efterår {
    background-image: url(../billeder/efterår.webp);
  }

  .produktliste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    padding: 50px;
  }

  .produkt_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 150px 0 150px;
  }

  .produkt_grid h3 {
    font-size: 2rem;
    text-align: center;
  }

  .produkt_grid p {
    padding: 50px;
    font-size: 1.2rem;
  }

  img {
    width: 100%;
    height: auto;
  }
  article > a:hover {
    opacity: 0.8;
  }
  main {
    margin: 40px;
  }

  nav {
    display: flex;
    gap: 10px;
    list-style: none;
    text-decoration: none;
    margin-right: auto;
    justify-content: center;
    margin-top: 30px;
  }

  article div:first-child:hover {
    opacity: 0.8;
  }

  .rabat_style {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .udsolgt_grid {
    display: flex;
  }
}
